﻿@model FA.JustBlog.Core.Models.Tag

<form method="post">

    <div class="border p-3 m-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Tag</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Discription"></label>
            <textarea asp-for="Discription" class="form-control" /></textarea>
            <span asp-validation-for="Discription" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="UrlSlug"></label>
            <input asp-for="UrlSlug" class="form-control" />
            <span asp-validation-for="UrlSlug" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Count"></label>
            <input type="number" asp-for="Count" class="form-control" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>

        
        <div class="mb-3">
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>      
        </div>
       
        <a asp-controller="Tag" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }
