﻿@model IEnumerable<FA.JustBlog.Core.Models.Tag>



<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Tag List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-area="Admin" asp-controller="Tag" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp; Create new Tag
        </a>
    </div>

</div>
    <br />


@foreach(var p in @Model)
{
 <div class="card mb-3"> 
    <div class="card-body">
        <h5>@p.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Posted @p.Discription</h6>
  
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a asp-area="Admin" asp-controller="Tag" asp-action="Update" asp-route-id="@p.Id" class="btn btn-primary"> Edit </a>
            <a asp-area="Admin" asp-controller="Tag" asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger"
            onclick="return confirm('Are you sure you want to delete this?')">Delete </a>
        </div>
        
    </div>
    
 </div>

}
