﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IPagedList<FA.JustBlog.Core.Models.ViewModels.PostVM>



<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Post List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-area="Admin" asp-controller="Post" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp; Create new Post
        </a>
    </div>

</div>
    <br />


@foreach(var p in @Model)
{
 <div class="card mb-3"> 
    <div class="card-body">
        <h5>@p.Post.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Posted @p.TimeSpan with rate @p.Post.Rate by @p.Post.ViewCount view(s)</h6>
        <p class="card-text">@p.Post.ShortDiscription</p>

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a asp-area="Admin" asp-controller="Post" asp-action="Update" asp-route-id="@p.Post.Id" class="btn btn-primary"> Edit </a>
            <a asp-area="Admin" asp-controller="Post" asp-action="Delete" asp-route-id="@p.Post.Id" class="btn btn-danger"
            onclick="return confirm('Are you sure you want to delete this?')">Delete </a>
        </div>
        
    </div>
    
 </div>

}

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page, pageSize = 5 }))