﻿@model FA.JustBlog.Core.Models.ViewModels.PostVM

<form method="post">
    <input asp-for="Post.Id" hidden />
    <input asp-for="Post.UrlSlug" hidden />
    <input asp-for="Post.PostedOn" hidden />

    <div class="border p-3 m-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Post</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Post.Title"></label>
            <input asp-for="Post.Title" class="form-control" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Post.ShortDiscription"></label>
            <textarea asp-for="Post.ShortDiscription" class="form-control" ></textarea>
            <span asp-validation-for="Post.ShortDiscription" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Post.PostContent"></label>
            <textarea asp-for="Post.PostContent" class="form-control" ></textarea>
            <span asp-validation-for="Post.PostContent" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input asp-for="@Model.Published" ass="form-check-input" type="checkbox" value="true" id="flexCheckDefault"/>
                <label class="form-check-label" for="flexCheckDefault">
                    Published
                </label>
                 <span asp-validation-for="Post.Published" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Post.CategoryId"></label>
            <select asp-for="Post.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                <option disabled selected>--Selected Category--</option>
            </select>
             <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <div class="form-check">
                @for(var i=0; i<@Model.TagList.Count(); i++)
                {
                    <input asp-for="@Model.SelectedTag[i]" ass="form-check-input" type="checkbox" value="@Model.TagList[i].Name" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">
                        @Model.TagList[i].Name
                    </label>
                    <span asp-validation-for="Post.Published" class="text-danger"></span>
                } 
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Post.RateCount"></label>
            <input type="number" asp-for="Post.RateCount" class="form-control" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Post.TotalRate"></label>
            <input type="number" asp-for="Post.TotalRate" class="form-control" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>      
        </div>
       
        <a asp-controller="Post" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }