﻿
@model IEnumerable<FA.JustBlog.Core.Models.ViewModels.PostVM>

<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">@ViewBag.Message Post List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Post" asp-action="LastestPost" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp; Lastest Post
        </a>
    </div>
</div>
    <br />
@foreach(var p in @Model)
{
 <div class="card mb-3"> 
    <div class="card-body col-12">
        <a asp-controller="Post" asp-action="Detail"
        asp-route-year="@p.Post.PostedOn.Year" asp-route-month="@p.Post.PostedOn.Month" asp-route-urlSlug="@p.Post.UrlSlug" 
        class="card-title" style="font-size:25px">@p.Post.Title</a>
        <h6 class="card-subtitle mb-2 text-muted">Posted @p.TimeSpan with rate @p.Post.Rate by @p.Post.ViewCount view(s)</h6>
        <p class="card-text">@p.Post.ShortDiscription</p>
    </div>
    @*<a asp-controller="Post" asp-action="Upsert" asp-route-id="@p.Id" class="btn btn-primary">
        <i class="bi bi-pencil-square"></i> Edit
    </a>*@
 </div>
}





