﻿@using FA.JustBlog.Core.Models;
@using FA.JustBlog.Core.Models.ViewModels;
@using FA.JustBlog.Core.Repository;

@inject IUnitOfWork unitOfWork

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Category
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        @foreach(var c in unitOfWork.Category.GetAll())
        {
           <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Post" 
         asp-route-id="@c.Id" asp-action="GetPostByCategoryId" >@c.Name</a></li>
        }
  </ul>
</div>